<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить пользователя</title>
</head>
<body>
<h2>Добавить пользователя</h2>
<div>
    <form th:action="@{/users/add}" th:object="${user}" method="POST">
        <fieldset>
            <legend>Данные пользователя</legend>
            <p>
                <label th:for="name">Имя</label>
                <input type="text" th:field="*{name}" getId="name">
            </p>
            <p>
                <label th:for="lastName">Фамилия</label>
                <input type="text" th:field="*{lastName}" getId="lastName"><br/>

            </p>
            <p>
                <label th:for="email">Почтовый ящик</label>
                <input type="text" th:field="*{email}" getId="email"><br/>
            </p>
        </fieldset>
        <button type="submit">Сохранить пользователя</button>
    </form>
    <br/>
    <form th:action="@{/}">
        <button type="submit" class="btn btn-outline-danger">Назад к списку пользователей</button>
    </form>
</div>
</body>
</html>